---
import styl from './Footer.module.css'
import {ReactViewCounter} from '../react/ViewCounter'
const debug_info = {
    mode: import.meta.env.MODE,
    ssr: import.meta.env.SSR,
    dev: import.meta.env.DEV,
    prod: import.meta.env.PROD
}
---
<footer
        class={styl.container}
>
    <section class={styl.hidden}>

        <h3>debug_info</h3>
        <pre>
        <code>{JSON.stringify(debug_info, undefined, 2)}</code>
    </pre>
    </section>
    <section>
        <div>awemeblog 2025 ~ {(new Date()).getFullYear()}</div>
    </section>
    <div class={styl.split}/>
    <section>
        <ReactViewCounter client:load />
    </section>
</footer>