---
import { HeaderTab } from "../solid/HeaderTab";
import { Link } from "../solid/Link";
import {getCollection} from "astro:content";
import {groupBy} from 'lodash-es'

async function getRouters() {
    const posts = await getCollection('mdx');
    const tools  = {
        name: '工具',
        children: [
            {
                name: '萨博木鱼',
                url: '/tools/busy-me'
            },
            {
                name: '二维码生成',
                url: '/tools/qrcode'
            },
            {
                name: '打字练习',
                url: '/tools/typing-exercises'
            },
            {
                name: 'markdown-renderer',
                url: '/tools/markdown-render'
            }
        ]
    }
    const postChildrenSortByYears =  groupBy(posts.map(post => ({
        name: post.data.title,
        pubDate: post.data.pubDate,
        url: `/blog/${post.id}`
    })), it => it.pubDate.getFullYear()+ '.'+String(it.pubDate.getMonth() + 1).padStart(2, '0'))
    return [{
        name: '文章',
        childrenWithYears: postChildrenSortByYears
    },tools]
}
const routers = await getRouters()

---

<header class="flex pl-1 pr-2 bg-[#bec5ff] pt-2 pb-1 gap-1 cursor-pointer">
    <Link target="/">


    <div class="font-[DouyinSansBold]  text-2xl">AwemeBlog</div>
    </Link>
    {routers.map(router => (
        <HeaderTab data={router} client:load/>
    ))}
    <div class="mr-auto"></div>
    <Link client:load target="https://github.com/hanhan9449/fe_mono">
        <img width="30px" height="30px" src="https://r2-oss.hanhan9449.top/github.png"/>

    </Link>
    
</header>