---
import { HeaderTab } from "./solid/HeaderTab";
import { Link } from "./solid/Link";
import {getCollection} from "astro:content";

async function getRouters() {
    const posts = await getCollection('mdx');
    const tools  = {
        name: '工具',
        children: [
            {
                name: '萨博木鱼',
                url: '/tools/busy-me'
            },
            {
                name: '二维码生成',
                url: '/tools/qrcode'
            },
            {
                name: '打字练习',
                url: '/tools/typing-exercises'
            }
        ]
    }
    return [{
        name: '文章',
        children: posts.map(post => ({
            name: post.data.title,
            url: `/blog/${post.id}`
        }))
    },tools]
}
const routers = await getRouters()

---

<header class="header">
    <Link target="/">


    <div class="header-title">AwemeBlog</div>
    </Link>
    {routers.map(router => (
        <HeaderTab data={router} client:load/>
    ))}
    <div class="space"></div>
    <Link client:load target="https://github.com/hanhan9449/fe_mono">
        <img width="30px" height="30px" src="https://r2-oss.hanhan9449.top/github.png"/>

    </Link>
    
</header>

<style>
    .header {
        display: flex;
        padding-left: 4px;
        padding-right: 8px;
        background: #bec5ff;
        padding-top: 8px;
        padding-bottom: 4px;
        gap: 4px;
        cursor: pointer;
    }
    .header-title {
        font-family: 'DouyinSansBold';
        font-size: 1.5rem;
       
    }
    .space {
         margin-right: auto;
    }
</style>