---
import md from '../../assets/markdown-test.md?raw'
import { MarkdownBoxWithConvert } from '../../components/react/MarkdownBoxWithConvert'
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout>

    <div>DEV:{import.meta.env.DEV}</div>
    <div>PROD:{import.meta.env.PROD}</div>
    <div></div>

<MarkdownBoxWithConvert data={md} client:only="react"/>
</MainLayout>